//Header 

.social {
    width: 547px;
    height: 159px;
    margin-left: 165px;
    padding-top: 190px;
    bottom: 50px;

    p {
        width: 341px;
        height: 48px;
    }

    
    button {
        width: 216px;
        height: 49px;
        border-radius: 25px;
        background-image: $bg;
    }

}

//Header