//Typo 
$titre: 40px;
$sous-titre: 16px;
$font : Poppins;
$lato : Lato;
$lobster: Lobster;
$align : center;
$size : 20px;
$weight: 500;
$weight600: 600;


//Colors
$white : #ffffff;
$grey :  #484848;
$purple : #7e76f9;
$greyv2: #7a839e;
$greyv3: #42495b;


//Background Image 
$bg : linear-gradient(to left, #6156f9 112%, #1a129f 50%);
$bgsecondP: url('../../assets/img/background-we-are.png');

//Texte decoration 
$soulignement : none; 


//Position
$position: absolute;
$space : space-around;


